.popup_ctr{
	border:solid 0.0625rem var(--border-light);
	border-radius: 0.25rem;
	position: absolute;
	width: 50%;
	right: 0;
	top: 0;
	background: var(--white);
	z-index:10000;
	height: 100%;
	padding: 1rem;
}

.popup_ctr > .close{
	width: 0.75rem;
	height: 0.75rem;
	top: 3rem;
	right: 1.5rem;
	position: absolute;
}

.popup_ctr > .close:hover{
	color: var(--secondary-contrast-color);
}