.lost_ctr > .header_pnl{
    padding: 0 3rem;
    text-align: left;

}

.lost_ctr > .header_pnl > .branding{
    border-bottom: solid 1px var(--border-light);
	padding: 0.5rem;
}

.lost_ctr > .body_section{
	margin-top: 4rem;
}

.lost_ctr > .body_section > .sad_image{
	width: 15rem;
}