.lost_ctr > .header_pnl > .branding{
    border-bottom: solid 1px var(--border-light);
	padding: 0.5rem;
}

.lost_ctr > .body_section{
	margin-top: 4rem;
}

.lost_ctr > .body_section > .sad_image{
	width: 15rem;
}

.lost_ctr > .body_section > .heading_txt{
	margin-bottom: 1rem;
}