.form_label{
	width: 6rem;
}

.field_ctr{
	margin: 1rem;
}

.header{
	padding-left: 0.5rem;
	border-bottom: solid 0.0625rem var(--border-light);
}

.header > h1{
	margin: 0.5rem 0;
}

.login{
	margin-right: 1rem;
}