.btn{
	padding: 0.75rem 1.25rem;
	border: 0.0625rem solid var(--primary-color);
	border-radius: 0.25rem;
	text-decoration: none;
	color: var(--primary-color);
}

.btn.cta{
	padding: 0.5rem 1rem;
	color: var(--white);
	background-color: var(--primary-color);

}
.btn.cta:hover{
	background-color: var(--primary-contrast-color);
}

.btn:active{
	background-color: var(--primary-color);
}

.btn:hover{
	background-color: var(--primary-contrast-color);
}

.btn:hover , .btn:active {
	color: var(--white);
}