@font-face {
	font-family: 'LatoRegular';
	font-weight: 300;
	src: url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  }
  @font-face {
	font-family: 'LatoBold';
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  }

* {
    font-family: 'LatoRegular';
}


.font-bld{
    font-family: 'LatoBold';
}

.txt-bdy1{
	font-size: 1rem;
}

.txt-bdy2{
	font-size: 0.875rem;
}

.txt-caption{
	font-size: 0.75rem;
}

.txt-head{
	font-size: 1.125rem;
}

.txt-supr{
	font-size: 1.25rem;
}