:root{
	--border-light: #B8B8D1;
	--default-font-color: #161925;
	--light-font-color: #36393B;
	--primary-color: #2D3047;
	--primary-contrast-color: #40476D;
	--secondary-color: #2364AA;
	--secondary-contrast-color: #3DA5D9;
	--white: #FFFFFF;
}