a.stklink{
	padding: 0.75rem 1.25rem;
	border: 0.0625rem solid var(--primary-color);
	border-radius: 0.25rem;
	text-decoration: none;
	margin-top: 1rem;
	color: var(--primary-color);
}

a.stklink:active{
	background-color: var(--primary-color);
}

a.stklink:hover{
	background-color: var(--primary-contrast-color);
}

a.stklink:hover , a.stklink:active {
	color: var(--white);
}